@page
@model Chirp.Web.Pages.CheepModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

}



<form id="newCheepForm">
    <div class="d-flex  flex-column ">

        <textarea id="cheep" rows="5" cols="50"></textarea>

        <button id="cheepButton" class="btn btn-primary">Cheep!</button>

    </div>
</form>
