@page
@model Chirp.Web.Pages.CheepModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

}



<form id="newCheepForm">
    <div class="flex  flex-col  gap-4">

        <textarea id="cheep" rows="5" cols="50" class="border-2 border-black "></textarea>

        <button id="cheepButton"
            class="border-2 border-black hover:bg-black text-black hover:text-white">Cheep!</button>

    </div>
</form>