@page 
@model Chirp.Web.Pages.ErrorPageModel
@{
    ViewData["Title"] = "error";
    Layout = "Shared/_Layout";

}

<b>Oh no, an error has seem to occurred!</b>
<p>Please try again later. If the error still persists, then contact one of the administrators.</p>