@page "/tag/{hashtag}"
@model Chirp.Web.Pages.HashtagModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("hashtag");
}

<h2 class="text-3xl font-semibold"> Hashtag test </h2>


<partial name="_TimeLinePartial" />
