@page "/hashtag/{hashtag}/{hashtagtext}"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("hashtagtext");
}

<h2 class="text-3xl font-semibold"> Hashtag test </h2>



<partial name="_TimeLinePartial" />
