@page "/{page?}"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

}

<div>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <div class="pagination">
        @if (Model.pageNr > 1)
        {
            <a href="?page=@(Model.pageNr - 1)">&laquo;</a>
        }
        @for (int i = 0; i < Model.pages; i++)
        {
            <a href="?page=@(i+1)">@(i + 1)</a>
        }
        <a href="?page=@(Model.pageNr + 1)">&raquo;</a>
    </div>

</div>
