@page "/{page?}"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

}

<div class="flex flex-col text-white gap-10 mt-10  items-center justify-center">
    <div>
        <h2 class="text-3xl font-semibold"> Home </h2>
    </div>

    @if (Model.Cheeps.Any())
    {
        <ul class="flex flex-col gap-5  ">
            @foreach (var cheep in Model.Cheeps)
            {


                <li
                    class="max-w-4xl lg:max-w-7xl rounded overflow-hidden shadow-lg text-3xl lg:text-lg border border-white rounded-[10px] ">
                    <p class="text-white text-sm font-semibold hover:underline">
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                    </p>
                    <p class="text-neutral-200 text-md font-medium">

                        @cheep.Message
                    </p>
                    <small>&mdash; @cheep.TimeStamp</small>

                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <div class="pagination">
        @if (Model.pageNr > 1)
        {
            <a href="?page=@(Model.pageNr - 1)">&laquo;</a>
        }
        @for (int i = 0; i < Model.pages; i++)
        {
            <a href="?page=@(i+1)">@(i + 1)</a>
        }
        <a href="?page=@(Model.pageNr + 1)">&raquo;</a>
    </div>

</div>
