@page "/{page?}"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

}

<div>
    <h2> Public Timeline </h2>
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <div class="pagination">
        <a href="#">&laquo;</a>
        @for (int i = 0; i < Model.pages + 1; i++)
        {
            <a href="?page=@i">@(i + 1)</a>
        }
        <a href="#">&raquo;</a>
    </div>

</div>
