@page "/{page?}"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";

}

<h2 class="text-3xl font-semibold"> Public Timeline </h2>

<partial name="_TimeLinePartial" />
