@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<partial name="_ProfilePartial" />

@if (Model.Cheeps.Any())
{
    <ul class="flex flex-col gap-5">
    @foreach (var cheep in Model.Cheeps)
        {
            <li
                class="border-2 border-black resize-none shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline flex flex-col gap-4">

                <div class="flex justify-between items-center">
                    <!-- container for profile picture, name, date -->
                    <div class="flex items-center">
                        <img style="margin-right: 8px;" class="inline-block h-10 w-10 rounded-full mr-2"
                            src="https://assets.phillips.com/image/upload/t_Website_LotDetailMainImage/v1/auctions/NY000208/52_001.jpg"
                            alt="" />
                        <strong style="margin-right: 8px;">
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        <span
                            class="text-sm leading-5 font-medium text-black-400 group-hover:text-black-300 transition ease-in-out duration-150 mr-2">
                            @cheep.TimeStamp
                        </span>
                    </div>

                    <!-- container for follow/unfollow button -->
                    <div class="flex">
                        <!-- we only want to add a button if the cheep is not by the user currently logged in-->
                        @if (User.Identity.IsAuthenticated && cheep.AuthorName != User.Identity.Name)
                        {
                            <button id="cheepButton"
                                class="border-2 border-black hover:bg-black text-black hover:text-white bg-transparent pl-2 py-1 px-2 hover:border-transparent rounded"
                                disabled="true">
                                Follow
                            </button>
                        }
                    </div>
                </div>

                <!-- cheep text -->
                <p class="text-black text-sm font-semibold hover:underline">
                    <small class="text-blue-400 text-sm font-medium text-clip overflow-hidden">@cheep.Message</small>
                </p>
            </li>
        }
    </ul>
}
else
{
    <p>No cheeps yet!</p>
    <a href="/cheep">
    <button
        class=" bg-blue-400 hover:bg-red-200 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-400 rounded">
        Post your first Cheep!!</button>
</a>



    <div class="pagination">
    @if (Model.pageNr > 1)
        {
            <a href="?page=@(Model.pageNr - 1)">&laquo;</a>
        }
        @for (int i = 0; i < Model.pages; i++)
        {
            <a href="?page=@(i+1)">@(i + 1)</a>
        }
        <a href="?page=@(Model.pageNr + 1)">&raquo;</a>
    </div>
}