<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>


<body class="bg-black">

    <div class=" flex flex-row space-x-4 ml-10 items-center justify-center mt-10">



        <navbar class="border-2 border-white rounded-[40px] h-[]">

            <div class="flex items-center justify-center ">

                <h1 class="text-white text-4xl font-sans">Chirp!
                </h1>
                <a href="/">
                    <img class="h-2/5 w-2/5" src="/images/icon1.png" alt="Icon1" />
                </a>
            </div>
            <partial name="_LoginPartial" />



        </navbar>


        <div class=body>

            @RenderBody()

        </div>
        <div class=footer>
            Chirp &mdash; An ASP.NET Application
        </div>
    </div>

</body>
@await RenderSectionAsync("Scripts", required: false)

</html>