@using System.Security.Principal
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> AzureADB2COptions
@{
    var options = AzureADB2COptions.Value;
}
<ul>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <div class="flex items-center justify-center gap-4">
            <div class="flex flex-col md:flex-row">

                <p class="text-base leading-6 font-small text-black">
                    Hello @User.Identity?.Name!

                </p>



            </div>
            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut"
                class="mt-1 group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-blue-800 hover:text-blue-300">
                Sign out
            </a>
            <a href="/@(User.Identity.Name)"
                class="h-10  mt-1 group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-blue-800 hover:text-blue-300 text-sm">
                <svg class="mr-4 h-6 w-6 " stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6" />
                </svg>
                Piblic Timeline
            </a>

            <button class="bg-blue-400 w-20 md:w-40 mt-5 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">
                Cheep
            </button>







        </div>

    }
    else
    {
        <div class="flex flex-row">
            <a href="/@(User.Identity.Name)"
                class="mt-1 group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-blue-800 hover:text-blue-300">
                <svg class="mr-4 h-6 w-6 " stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6" />
                </svg>
                Piblic Timeline
            </a>
            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn"
                class="mt-1 group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-blue-800 hover:text-blue-300">
                <i class="bi bi-account"></i>
                Sign in
            </a>
        </div>

    }
</ul>