@using System.Security.Principal
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> AzureADB2COptions
@{
    var options = AzureADB2COptions.Value;
}
<ul>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <div
            class=" text-white font-sans flex flex-row lg:flex-col gap-10 text-l lg:text-2xl text-blue-600 dark:text-white">
            <li>
                <a class=" hover:underline" href="/@(User.Identity.Name)">
                    <i class="bi bi-house"></i>
                    my timeline</a>
            </li>
            <li class="">
                <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
            </li>

            <div
                class="w-2/5 lg:w-4/5 h-10 bg-stone-300 bg-opacity-60 rounded-[48px] flex flex-row  items-center justify-center">
                <span class="navbar-text  ">
                    Hello @User.Identity?.Name!
                </span>


            </div>

        </div>
    }
    else
    {
        <div class="text-white font-sans flex flex-col">
            <a href="/">public timeline</a>
            <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline " asp-area="MicrosoftIdentity"
                asp-controller="Account" asp-action="SignIn">Sign
                in</a>
        </div>

    }
</ul>