@* https://learn.microsoft.com/en-us/aspnet/web-pages/overview/ui-layouts-and-themes/9-working-with-images *@
@model Chirp.Web.Pages.UserTimelineModel

<div
    class="flex flex-col md:flex-row gap-4 p-4 bg-blue-200 shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full md:w-full lg:w-full mx-auto mt-5">
    <div class="flex flex-col">
        <h2 class="text-xl font-semibold">@Model.getPageName() Profile</h2>
        @{
            string status = await Model.getStatus();

            if (status.Equals("ONLINE"))
            {
                <svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                </svg>
                <h2 class="text-xl font-semibold"> <i>Last seen @status</i> </h2>

                @if (User?.Identity.IsAuthenticated == true && User.Identity.Name.Equals(Model.getPageName()))
                {
                    <form method="post" asp-page-handler="setStatusUnavailable">
                        <button type="submit" class="bg-orange-a hover:bg-red-200 text-white font-bold py-2 px-4 rounded">
                            Set to UNAVAILABLE
                        </button>
                    </form>

                    <form method="post" asp-page-handler="setStatusOffline">
                        <button type="submit" class="bg-red-500 hover:bg-red-200 text-white font-bold py-2 px-4 rounded">
                            Set to OFFLINE
                        </button>
                    </form>
                }

            }
            if (status.Equals("OFFLINE"))
            {
                <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                </svg>
                <h2 class="text-xl font-semibold"> <i>Last seen @status</i> </h2>
            }
            if (status.Equals("UNAVAILABLE"))
            {
                <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                </svg>
                <h2 class="text-xl font-semibold"> <i>Last seen @status</i> </h2>
            }
        }
    </div>

    @* source https://developer.mozilla.org/en-US/docs/Web/API/File_API/Using_files_from_web_applications *@


</div>
